.navbar {
    background-color: #444;
    overflow: hidden;
}

.header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 1em; */
    font-size: 50px;
}

#hr {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 1em; */
    font-size: 50px;
}


.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 25px;
}
