body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* font-size: 20px; */
}

h1 {
    color: #fff
}
h2 {
    color: #333;
}

p, li {
    color: #666;
}

header p {
    color: #fff;
}

.contact-info, .bio, .education, .skills, .awards, .projects {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a {
    color: inherit; /* 使链接颜色与其父元素的颜色相同 */
    text-decoration: none; /* 移除下划线 */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px; /* 确保页脚与页面其他内容有足够的间隔 */
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal-info {
    flex: 1;
}

.profile-photo img {
    max-width: 200px; /* 或根据需要调整 */
    border-radius: 50%; /* 可选，为照片添加圆形边框 */
    margin-left: 20px; /* 确保个人信息和照片之间有足够间距 */
}
